/* css para 480px */
/* index*/
@media (max-width:480px){
    footer{
        figure{
            margin-top: 1.8rem;
        }
    }
}

/* css para 480px */
/* canciones*/
@media (max-width:480px){
    .fcanciones{
        margin-top: 22.5rem;
    }
}




/* css para 480px */
/* galeria */
@media (max-width:480px){
    .sec-galeria{
        .galeria{
            .figure-1{
                img{
                    width: 12rem;
                    height: 100%;
                }
            }
            .figure-2{
                img{
                    width: 12rem;
                    height: 100%;
                }
            }
            .figure-3{
                img{
                    width: 12rem;
                    height: 100%;
                }
            }
            .figure-4{
                img{
                    width: 12rem;
                    height: 100%;
                }
            }
            .figure-5{
                img{
                    width: 12rem;
                    height: 100%;
                }
            }
            .figure-6{
                img{
                    width: 12rem;
                    height: 100%;
        }
            }
        }
    }
}

/* css 480px */
/* formulario */
@media (max-width:480px){
    .fformulario{
        margin-top: 10.8rem;
    }
}

/* css 320px */
/* formulario */
@media (max-width:480px){
        
    .sec-formulario{
        form{
            padding: 1rem;
            fieldset{
                input{
                    width: 16rem;
                    }
                }
            }
        }
    }