/* css para 1024px */
/* galeria */
@media (max-width:1024px){
    .sec-galeria{
        .galeria{
            .figure-1{
                grid-column: 1/2;
                grid-row: 1/2;
                img{
                    width: 30rem;
                    height: 100%;
                }
            }
            .figure-2{
                grid-column: 2/3;
                grid-row: 1/2;
                img{
                    width: 30rem;
                    height: 100%;
                }
            }
            .figure-3{
                grid-column: 2/4;
                grid-row: 3/4;
                img{
                    width: 30rem;
                    height: 100%;
                }
            }
            .figure-4{
                grid-column: 1/2;
                grid-row: 2/3;
                img{
                    width: 30rem;
                    height: 100%;
                }
            }
            .figure-5{
                grid-column: 2/3;
                grid-row: 2/3;
                img{
                    width: 30rem;
                    height: 100%;
                }
            }
            .figure-6{
                grid-column: 1/4;
                grid-row: 3/4;
                img{
                    width: 30rem;
                    height: 100%;
        }
            }
        }
    }
}
