/* css para 768px */
/* galeria */
@media(max-width:768px){
    .sec-galeria{
        .galeria{
            .figure-1{
                img{
                    width: 20rem;
                    height: 100%;
                }
            }
            .figure-2{
                img{
                    width: 20rem;
                    height: 100%;
                }
            }
            .figure-3{
                img{
                    width: 20rem;
                    height: 100%;
                }
            }
            .figure-4{
                img{
                    width: 20rem;
                    height: 100%;
                }
            }
            .figure-5{
                img{
                    width: 20rem;
                    height: 100%;
                }
            }
            .figure-6{
                img{
                    width: 20rem;
                    height: 100%;
        }
            }
        }
    }
}
