.sec-formulario{
    background-color: $background-secundario;
    margin: 2rem 0px;
    form{
        @include flex;
        width: 100%;
        padding: 3rem;
        legend{
            text-align: center;
            color: $fuentes-principal;
            font-size: 2rem;
            margin-bottom: 2rem;
        }
    fieldset{
        @include flex;
        border: 1px solid $background-secundario;
        padding: 1rem;
                label{
                color: $fuentes-principal;
                }
    input{
            width: 75%;
            padding: 0.3rem;
            border: 0.2rem solid orange;
            margin: 1rem 0px;
            }
        }
        input[type="submit"]{
            margin: 0 auto;
            width: 50%;
            border: 0.2rem solid orange;
        }
    }
}